<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"className":"container","layout":{"type":"constrained"}} -->
<div class="wp-block-group container">
    <!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"0"}}},"className":"inner-page"} -->
    <div class="inner wp-block-columns">
        <!-- wp:column {"tagName":"main"} -->
        <div class="content-container wp-block-column">
            <!-- wp:post-content /-->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</div>
<!-- /wp:group -->