<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"},"className":"container"} -->
<div class="container wp-block-group">
    <!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"0"}}},"className":"inner-page"} -->
    <div class="inner wp-block-columns">
        <!-- wp:column {"tagName":"aside","width":"20%"} -->
        <div class="sidebar wp-block-column" style="flex-basis:20%"><!-- wp:vacarme/auto-page-list /--></div>
        <!-- /wp:column -->

        <!-- wp:column {"tagName":"main","width":"80%"} -->
        <div class="content-container wp-block-column" style="flex-basis:80%"><!-- wp:post-title {"level":1} /-->
            <!-- wp:post-date {"format":"Y-m-d","displayType":"modified"} /-->

            <!-- wp:post-content /-->
        </div>
        <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
        </div>
        <!-- /wp:group -->